body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.container{
    text-align:center;
}

#editor-kecil{
    width:400px;
    height:150px;
    padding:10px;
}

button{
    padding:8px 12px;
    margin:5px;
}


.mode-gelap{
    background-color:#171b25;
    color:#ebecf7;
}


.mode-gelap #editor-kecil{
    background-color:#2e3443;
    color:#ebecf7;
}


.mode-gelap button{
    background-color:#29ddcc;
    border:none;
}

