body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    transition:0.3s;
}

.container{
    text-align:center;
    padding:20px;
}

#editor-kecil{
    width:400px;
    height:150px;
    padding:10px;
    background:white;
    color:black;
}

button{
    padding:8px 12px;
    margin:5px;
    cursor:pointer;
}

.light-mode{
    background-color:white;
    color:black;
}

.dark-mode{
    background-color:#171b25;
    color:#ebecf7;
}

.dark-mode button{
    background-color:#29ddcc;
    border:none;
}

.sepia-mode{
    background-color:#F4ECD8;
    color:#5B4636;
}

.sepia-mode button{
    background-color:#29ddcc;
    border:none;
}